wsdl_StudioExtensionSOAPWizard/src/main/resources/wsdlBugStudioSOAPWizardService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://wsdlBugStudioSOAPWizard.example.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="wsdlBugStudioSOAPWizardService"
	targetNamespace="http://wsdlBugStudioSOAPWizard.example.com/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://wsdlBugStudioSOAPWizard.example.com/" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://wsdlBugStudioSOAPWizard.example.com/">
			<xs:element name="getCustomersByName" type="tns:getCustomersByName" />
			<xs:element name="getCustomersByNameResponse" type="tns:getCustomersByNameResponse" />
			<xs:complexType name="customer">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getCustomersByName">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="getCustomersByNameResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="return"
						type="tns:customer" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getCustomersByNameResponse">
		<wsdl:part name="parameters" element="tns:getCustomersByNameResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCustomersByName">
		<wsdl:part name="parameters" element="tns:getCustomersByName">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="wsdlBugStudioSOAPWizardService">
		<wsdl:operation name="getCustomersByName">
			<wsdl:input name="getCustomersByName" message="tns:getCustomersByName">
			</wsdl:input>
			<wsdl:output name="getCustomersByNameResponse" message="tns:getCustomersByNameResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="wsdlBugStudioSOAPWizardServiceSoapBinding"
		type="tns:wsdlBugStudioSOAPWizardService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCustomersByName">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="getCustomersByName">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getCustomersByNameResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="wsdlBugStudioSOAPWizardService">
		<wsdl:port name="wsdlBugStudioSOAPWizardServicePort" binding="tns:wsdlBugStudioSOAPWizardServiceSoapBinding">
			<!-- embedded deployment -->
			<soap:address location="http://localhost:9090/wsdlBugStudioSOAPWizardServicePort" />
			<!-- Tomcat deployment, embedded or standalone -->
			<!--soap:address location="http://localhost:8080/wsdl_first/services/wsdlBugStudioSOAPWizardServicePort"/ -->
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>